/* universal styling */
* {
  font-family: "Lexend Deca", sans-serif;
  margin: 0;
  padding: 0;
  font: 400;
}

img {
  width: 100%;
}

body {
  max-width: 3000px;
  margin: auto;
  background-color: #f6f7f1;
}
/* reusable class/es */

.logo {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #f14c36;
}

.get-started {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #f6f7f1;
  background: #f14c36;
  border-radius: 50px;
  padding: 1.5rem 2.5rem;
  border: none;
}
.get-started:hover {
  background: #ecb20d;
  color: #29182e;
}

/* header styling start */

header {
  color: #f6f7f1;
  background-color: #29182e;
  margin: 0;
}

header .logo {
  text-align: center;
  margin: 1rem auto 5rem;
}
.header-button-container {
  display: flex;
  align-items: center;
  padding: 1rem;
}

#desktop-button {
  display: none;
}

.header-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 2rem 1rem;
}

header p {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin: 1rem;
}

#mobile-button {
  margin: 1rem auto 15rem;
}
header img {
  display: none;
}
/* header styling end */

/* main styling start */
main {
  background-color: #f6f7f1;
  color: #29182e;
}

/* section 1 styling start */

.section-1 {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

main img {
  width: 293px;
  margin: auto;
}

.section-1-textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 2rem;
}

.section-1 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.social {
  color: #f14c36;
}
.integrity {
  color: #436b2c;
}

.section-1 p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
/* section 1 styling end */

/* section 2 styling start */

.section-2 {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.section-2 h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.three-step {
  display: flex;
  flex-direction: column;
}

.section-2 article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem;
}

.section-2 h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 0.5rem;
}

.section-2 p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.unity {
  color: #f14c36;
}
.privacy {
  color: #436b2c;
}
.clarity {
  color: #ecb20d;
}
/* section 2 styling end */

/* main styling end */

/* footer styling start */

footer {
  color: #f6f7f1;
  background-color: #29182e;
  display: flex;
  flex-direction: column;
}

footer .logo {
  text-align: center;
  margin: 2rem auto;
}

.footer-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 0.5rem;
}

.footer-button {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ecb20d;
  text-decoration: none;
  margin: 2px 0;
}
.footer-button:hover {
  color: #f14c36;
}

.copyright {
  text-align: center;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 2rem auto 0.5rem;

  color: #f6f7f1;
}

/* footer styling end */

/* media query for desktop */
@media screen and (min-width: 680px) {
  /* header styling start */

  .header-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
  }
  header .logo {
    margin: 0 1rem;
  }
  .header-flex-container {
    display: flex;
    position: relative;
  }
  .header-text-container {
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;
  }

  header h1 {
    text-align: left;
    padding: 0;
    z-index: 1;
  }

  header p {
    text-align: left;
    width: 86%;
    z-index: 1;
  }

  #desktop-button {
    display: inline-block;
    margin: 0 1rem;
  }
  #mobile-button {
    display: none;
  }

  header img {
    display: flex;
    width: 600px;
    position: relative;
    bottom: -116.5px;
    margin: auto;
  }

  /* header styling end */

  /* main styling start */

  /* section 1 styling start */

  .section-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    gap: 4rem;
  }

  main img {
    width: 293px;
    justify-content: left;
    margin: 1rem;
  }

  .section-1-textbox {
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: right;
    margin: 1rem;
    flex-grow: 2;
  }

  .color-block {
    display: flex;
    flex-direction: row;
  }

  .social .integrity {
    display: flex;
    flex-direction: row;
  }

  .section-1 h2 {
    font-size: 40px;
    line-height: 50px;
  }

  .section-1 p {
    font-size: 20px;
    line-height: 25px;
  }

  /* section 1 styling end */

  /* section 2 styling start */

  .three-step {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
  }

  .section-2 h3 {
    font-size: 40px;
    line-height: 50px;
  }
  .section-2 p {
    font-size: 20px;
    line-height: 25px;
    margin: 1rem;
  }

  .section-2 article {
    display: flex;
    text-align: center;
    margin: 3rem;
    max-width: 300px;
  }

  /* section 2 styling end */

  /* main styling end */

  /* footer styling start */

  .footer-button-container {
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem 2rem;
  }

  .footer-button {
    margin: 2rem 1rem;
  }
}
